section {
	margin-top: 80px;
}

#focusedInput {
	border-color: #66AFE9;
	outline: 0px none;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}

.bs-component .modal {
	display: block;
	position: static;
}

.bs-component .modal .modal-dialog {
	width: 90%;
}

footer {
	margin-top: 75px;
}

footer div {
	margin-bottom: 20px;
}